<h1 class="mt-4 text-center">Mean Median Mode</h1>

<h3> Result </h4>
<div class="row ">
    <h4><b>Mean</b>  <i>:<%= meanAns %></i> </h4> 
</div>
<div class="row ">
    <h4><b>Median</b>  <i>:<%=  medianAns %></i> </h4> 
</div>
<div class="row ">
    <h4><b>Mode </b>  <i>:<%= modeAns %></i> </h4> 
</div>


<hr>
<a href="/auth/logout" class="btn btn-secondary">Logout</a>